.nav-current-color{
    background-color: #217043;
}

.red{
    background-color: #217043;
}

.red-text{
    color: #217043;
}

.hero-product-01{
/*    width: 100vw;*/
    height: 100vh;
    max-height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightcolor-bkg{
    background-color: rgba(35, 158, 86, 0.32);
}

.red-slider{
    background-image: url(../img/red-slider-bkg-01.jpg);
    background-repeat: repeat;
}

.share-button{
    background-color: #217043;
    color: azure;
} 