.nav-current-color{
    background-color: #C72EB8;
}

.red{
    background-color: #C72EB8;
}

.red-text{
    color: #C72EB8;
}

.hero-product-01{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    background-image: url(www.vizijadoma.hr/napravi-mjesta-za-boje/Hero/Pink/PH144538_lowres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightcolor-bkg{
    background-color: rgba(201, 56, 196, 0.25);
}

.red-slider{
    background-image: url(../img/red-slider-bkg-01.jpg);
    background-repeat: repeat;
}

.share-button{
    background-color: #C72EB8;
    color: azure;
} 