.nav-current-color{
    background-color: #FFC000;
}

.red{
    background-color: #FFC000;
}

.red-text{
    color: #FFC000;
}

.hero-product-01{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    background-image: url(http://vizijadoma.hr/napravi-mjesta-za-boje/Hero/Yellow/Yellow_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightcolor-bkg{
    background-color: rgba(242, 201, 76, 0.23);
}

.red-slider{
    background-image: url(../img/red-slider-bkg-01.jpg);
    background-repeat: repeat;
}

.share-button{
    background-color: #FFC000;
    color: azure;
}