.nav-current-color{
    background-color: #F2770A;
}

.red{
    background-color: #F2770A;
}

.red-text{
    color: #F2770A;
}

.hero-product-01{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    background-image: url(../img/PH136486_lowres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightcolor-bkg{
    background-color: rgba(242, 153, 74, 0.33);
}

.red-slider{
    background-image: url(../img/red-slider-bkg-01.jpg);
    background-repeat: repeat;
}

.share-button{
    background-color: #F2770A;
    color: azure;
} 