.nav-current-color{
    background-color: black;
}

.red{
    background-color: black;
}

.red-text{
    color: black;
}

.hero-product-01{
/*    width: 100vw;*/
    height: 100vh;
    max-height: 1080px;
    background-image: url(http://vizijadoma.hr/napravi-mjesta-za-boje/Hero/Flottebo/Flottebo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightcolor-bkg{
    background-color: rgba(153, 153, 153, 0.37);
}

.red-slider{
    background-image: url(../img/red-slider-bkg-01.jpg);
    background-repeat: repeat;
}

.share-button{
    background-color: black;
    color: azure;
}