body{
    overflow: hidden;
}
.current-color{
    background-color: #2A48BA;
}

/*
.hero-product-01{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/PE593421_lowres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/

.hero-product-01:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/PE593421_lowres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-product-blur:before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/PE593421_lowres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(5px) opacity(30%) grayscale(80%);
    -moz-filter: blur(5px) opacity(30%) grayscale(80%);
    -o-filter: blur(5px) opacity(30%) grayscale(80%);
    -ms-filter: blur(5px) opacity(30%) grayscale(80%);
    filter: blur(5px) opacity(30%) grayscale(80%);
}

.lightcolor-bkg{
    background-color: #ffc7c8;
}

.red-slider{
    background-image: url(../img/red-slider-bkg.jpg);
    background-repeat: repeat-x;
}

.home-subheadline{
    padding-top: 100px;
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.home-headline{
    text-align: center;
    display: block;
}

.home-menu-title{
    transition: 0.4s;
    cursor: pointer;
    display: inline-block;
    margin: -10px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 10px;
    transition: 1s;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.home-menu-red{
    color: #E31B1B;
}

.home-menu-orange{
    color: #F2994A;

}
.home-menu-yellow{
    color: #F2C94C;

}
.home-menu-green{
    color: #219653;

}
.home-menu-blue{
    color: #2F80ED;

}
.home-menu-pink{
    color: #FA49BB;

}

.home-menu-title:hover{
    -ms-transform: scale(1.4, 1.4); /* IE 9 */
    -webkit-transform: scale(1.4, 1.4); /* Safari */
    transform: scale(1.4, 1.4);
}

.greyscale{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.home-menu-wheel-grey{
    margin-top:0px;
    background-image: url(../img/menu-wheel.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    -webkit-filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2)) grayscale(100%);      
    filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2)) grayscale(100%);
}

.home-menu-wheel{
    margin-top:0px;
    background-image: url(../img/menu-wheel.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    -webkit-filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2));      
    filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
}

.press-instruction{
    text-align: center;
    z-index: 100;
    position: absolute;
    margin-top: -25px;
    margin-left: -29px;
    left: 50%;
    top: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family: Verdana;
}