.nav-current-color{
    background-color: #193BBD;
}

.red{
    background-color: #193BBD;
}

.red-text{
    color: #193BBD;
}

.hero-product-01{
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    background-image: url(http://www.vizijadoma.hr/napravi-mjesta-za-boje/Hero/Delaktig/Delaktig_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightcolor-bkg{
    background-color: rgba(47, 128, 237, 0.3);
}

.red-slider{
    background-image: url(../img/red-slider-bkg-01.jpg);
    background-repeat: repeat;
}

.share-button{
    background-color: #193BBD;
    color: azure;
}