.nav-current-color{
    background-color: #b83030;
}

.red{
    background-color: #b83030;
}

.red-text{
    color: #b83030;
}

.hero-product-01{
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lightcolor-bkg{
    background-color: #ffc7c8;
}

.red-slider{
    background-image: url(../img/red-slider-bkg-01.jpg);
    background-repeat: repeat;
}

.share-button{
    background-color: #b83030;
    color: azure;
}