html, body {
  width: 100%;
}

.hero-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(http://vizijadoma.hr/napravi-mjesta-za-boje/Hero/Orange/PH137642_lowres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}


.speech-bubble {
  position: absolute;
  width: 150px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  display: none;
  z-index: 2;
}
.speech-bubble h1 {
  font-size: 20px;
  margin-top: 12px;
  color: #333333;
}
.speech-bubble p {
  margin-top: 4px;
  margin-bottom: 12px;
  font-style: italic;
  color: #888888;
}
.speech-bubble:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
