@font-face {
    font-family: VerdanaIKEA;
    font-weight: normal;
    src: url(VerdanaIKEA-Reg500.ttf) format('truetype'), url(VerdanaIKEA-Reg500.woff) format('woff'), url(VerdanaIKEA.woff2) format('woff'); 

}

@font-face {
    font-family: VerdanaIKEA;
    font-weight: bold;
    src: url(VerdanaIKEA-Bol500.ttf) format('truetype'), url(VerdanaIKEA-Bol500.woff) format('woff'), url(VerdanaIKEA-Bold.woff2) format('woff');
}

*{
    font-family: VerdanaIKEA !important;
}

p a h1 h2 h3 h4 div {
    font-family: VerdanaIKEA !important;    
}

.body-pointer{
    cursor: pointer;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    font-family: VerdanaIKEA !important;
}

.all-wrapper{
    overflow-x: hidden;
}

nav{
    height: auto;
    font-size: 19px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    opacity: 1;
    z-index: 99999999;
    box-shadow: 0px 1px 30px rgba(0,0,0,0.6);
}

.nav-right{
    float: right;
    padding: 10px 20px 10px 0;
    display: block;
}

.ikea-logo {
    padding: 17px 0 10px 20px;
    font-weight: bold;
    font-family: VerdanaIKEA !important;
    height: 30px;
    width: 60px;
    float: left;
    font-size: 16px;
    color: white;
}

.tagline{
    padding: 17px 0 10px 10px;
    font-family: VerdanaIKEA !important;
    height: 30px;
    float: left;
    font-size: 16px;
    color: white;
}

.taglineBold{
    padding: 17px 0 10px 7px;
    font-family: VerdanaIKEA !important;
    height: 30px;
    float: left;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.prod-wrapper-01{
    text-align: center;
    padding-bottom: 90px;
}

.headline-wrapper-01{
    margin: auto;
    padding: 50px;
}

.headline-title-01{
    display: block;
    font-weight: bold;
}

.headline-sub-01{
    color: #000;
    padding: 0px 150px;
    margin-top:20px;
    line-height: 20px;
}

.prod-container-01{
    margin: auto;
    max-width: 1000px;
}

.prod-title{
    font-size: 16px;
}

.prod-desc{

}

.prod-price{
    font-family: VerdanaIKEA !important;
    font-weight: bold;
    margin-top: 50px;
    display: block;
    letter-spacing: -1px;
}

.bottom-slider-wrapper {
    padding: 0px !important;
    text-align: center;
}

.bottom-slider-left{
    float: left;
    width: 70%;
}

.bottom-slider-left-01{
    float: left;
    width: 100%;
}

.prodSlideBot{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}
.prodSlideBot-01{
    width: 100%;
}
.bottom-slider-right{
    width: 30%;
    float: left;
    height: inherit;
}

.fb-button {
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    border: none;
    margin: auto;
    max-width: 50%;
    text-decoration: none;
}

.fb-button:hover {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    text-decoration: none;
}

a.fb-xfbml-parse-ignore:hover {
    text-decoration: none;
    transition: 1s;
    color: white;
}

.bottom-social{
    float: left;
    text-align: center;
    margin-top: 190px;
}

.bottom-menu{
    margin-top:0px;
    background-image: url(../img/menu-wheel-main-1.svg);
    background-repeat: no-repeat;
    background-position: top;
    width: 80%;
    max-width: 500px;
    margin: auto;
    -webkit-filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
    filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
}

.bottom{
    margin-top: 90px;
}

.modal-content{
    background-color: transparent !important;
    border: none !important;
}

.hidden{
    display: none;
}

.color-wheel-menu{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background-image: url(../img/menu-wheel-main-1.svg);
    background-repeat: no-repeat;
    background-position: top;
    width: 500px;
    height: auto;
    -webkit-filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
    filter: drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
}

.color-wheel-menu-greyscale{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background-image: url(../img/menu-wheel-main-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: auto;
    -webkit-filter: grayscale(100%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
    -moz-filter: grayscale(100%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
    -o-filter: grayscale(100%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
    -ms-filter: grayscale(100%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
    filter: grayscale(100%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2));
}

.headline-sub-01-hidden{
    color: #000;
    padding: 0px 150px;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
    display: none;
}

.home-instructions{
    font-family: VerdanaIKEA !important;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: 220px;
    margin-left: -250px;
    position: fixed;
    top: 50%;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
}

.greyscale-null{
    -webkit-filter: grayscale(0%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2)) !important;
    -moz-filter: grayscale(0%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2)) !important;
    -o-filter: grayscale(0%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2)) !important;
    -ms-filter: grayscale(0%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2)) !important;
    filter: grayscale(0%) drop-shadow(2px 7px 5px rgba(0,0,0,0.2)) !important;
}

.menu-icon{
    transition: 0.3s;
    width: 100%;
    -moz-transform: scaleX(-1) rotate(180deg);
    -o-transform: scaleX(-1) rotate(180deg);
    -webkit-transform: scaleX(-1) rotate(180deg);
    transform: scaleX(-1) rotate(180deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.menu-icon:hover{
    -webkit-filter: brightness(190%);
    -moz-filter: brightness(190%);
    -o-filter: brightness(190%);
    -ms-filter: brightness(190%);
    filter: brightness(190%);
}

.closeBtnEx{
    position: absolute;
    width: 5%;
    height: 5%;
    min-height: 45px;
    min-width: 45px;
    top: 70px;
    left: 10px;
    background-image: url(../img/closebt.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
    z-index: 99999999999999;
}

.close-animatedModal > img{
    transition: 0.5s;
    position: relative;
}

.close-animatedModal:hover{
    transform: rotate(180deg)

}

.footer{
    background-color: #C4C4C4;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 8px 0 8px 0;
}

.hero-image-change{
    width: 320px;
    height: 80px;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    left: 50%;
    top: 160px;
    margin-left: -160px;
    border-radius: 5px;
}

.color-box {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 10px;
    cursor: pointer;
}

.green-box{
    background-color: #84AF6A;
    transition: 0.3s;
}

.white-box{
    background-color: #BAB7AD;
    transition: 0.3s;
}

.black-box{
    background-color: #757575;
    transition: 0.3s;
}

.green-box:hover{
    opacity: 0.5;
}

.white-box:hover{
    opacity: 0.5;
}

.black-box:hover{
    opacity: 0.5;
}

.image-change-title{
    width: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

/* hero-product */

.hero-prod-box {
    width: 320px;
    height: 320px;
    position: relative;
    top: -370px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    font-family: VerdanaIKEA !important;
    z-index: 99999;
    border-radius: 5px;
}

.heroProdClose{
    filter: invert(60%);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 999999;
}

.heroProdClose > img{
    width: 100%;
    transition: 0.5s;
}

.heroProdClose > img:hover{
    transform: rotate(180deg);
}

.hero-prod-fakta{
    width: 120px;
    float: right;
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
    z-index: 999999;
}

.hero-prod-fakta > h3 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.hero-prod-fakta > p {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 17px;
}

.hero-prod-fakta > h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.buy-button {
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: white
}

.buy-button-list {
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    margin: 15px 20px;
}

.hero-prod-fakta > a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-prod-fakta > a > button:focus {
    outline:0;
}

.hero-prod-image{
    width: 100%;
    height: 100%;
    margin-right: 20px;
    margin-top: 20px;
    position: absolute;
}

.hero-prod-image > img {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 20px;
}

/* ---------------------------------------- SLIDER ------------------------------------- */



/* ---------------------------------------- HOTSPOT ------------------------------------- */

.hot-spot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.8;
    border: 0px solid rgba(255, 255, 255, 0.2);
}
.drop01:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    animation-name: drop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.drop02:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    animation-name: drop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.drop03:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    animation-name: drop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
}

.drop04:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    animation-name: drop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
}

.drop05:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    animation-name: drop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1.2s;
}

.drop06:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    animation-name: drop;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
}

.drop07:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    animation-name: drop;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.9s;
}

@keyframes drop {
    0%   {width: 0px; height: 0px;opacity: 0;}
    1%   {width: 0px; height: 0px;opacity: 1;}
    40%   {opacity: 1;}
    100% {width: 35px; height: 35px;opacity: 0;}
}

.hot-spot:hover {
    cursor: pointer;
    opacity: 1;
}
.hot-spot:hover:after {
    width: 25px;
    height: 25px;
    opacity: 1;
}

/* ---------------------------------------- SLIDER ------------------------------------- */

.slider-all-fakta{
    float: left;
    text-align: left;
    width: 18%;
    margin-left: 2%;
    font-family: VerdanaIKEA !important;
    overflow: visible;
}

.fakta-bot > h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.fakta-top > p {
    font-size: 15px;
    margin-bottom: 0px;
}

.fakta-bot > p {
    font-size: 13px;
    margin-bottom: 0px;
}

.fakta-bot > h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.slider-all-fakta-1{
    float: left;
    float: left;
    text-align: left;
    width: 28%;
    height: 100%;
    margin-right: 0%;
    font-family: VerdanaIKEA !important;
}

.slider-width-container-1 > .fakta-top{
    position: relative;
    top: 0px;
    width: 150px;
}

.slider-image-container-1{
    width: 60%;
    float: right;
    margin-right: 10%;
    display: block;
    max-width: 600px;
}

.fakta-top{
    position: relative;
    top: 0px;
    width: 200px;
}

.fakta-bot{
    position: absolute;
    bottom: 20px;
    margin-right: 0px;
}

.slider-width-container{
    width: 60%;
    margin-left: 20%;
}

.slider-width-container-1{
    width: 45%;
    margin-left: 25%;
}

.slider-image-container{
    width: 80%;
    float: left;
}

.slider-cta-button{
    background-color: white;
    padding: 6px 8px;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.white {
    color: white !important;
}
