@media screen and (max-width: 500px) and (min-width: 361px)  {
    .headline-sub-01-hidden{
        display: block;
        padding: 0px;
    }
    
    .headline-title-01{
        font-size: 25px !important;
    }
    
    .headline-sub-01{
        font-size: 14px;
    }
    
    .fakta-top{
        display:none;
    }
    
    .fakta-bot{
    position: relative;
    margin-top: 10px;
    bottom: 0px;
    }
    
    .slick-next{
        top: 170px !important;
    }
    
    #newSlider-guest-2 > .slick-next {
        top: 300px !important;
    }
    
    .color-wheel-menu{
    margin-top: -160px;
    margin-left: -160px;
    width: 320px;
    }
    
        
.slider-width-container-1{
    width: 100% !important;
    margin-left: 0%;
}
            .slider-image-container-1{
    width: 80%;
    float: none;
}

    #newSlider-guest-2 > .slick-next > img{
        margin-top: 90px;
    }
    
.home-instructions{
    width: 320px;
    margin-top: 180px;
    margin-left: -160px;
}

    .press-instruction{
    margin-top: 23px !important;
    margin-left: -20px !important;
    left: 50%;
    top: 50%;
    font-size: 11px !important;
}

    .color-wheel-menu-greyscale{
    margin-top: -160px;
    margin-left: -160px;
    width: 320px;
    }

    #colorWheel{
        margin-top: -120px !important;
    }

    .home-subheadline{
        font-size: 25px;
        padding-top: 80px;
    }
    
    .home-menu-title{
        margin: -8px !important;
        font-size: 50px !important;
    }
    
    .headline-sub-01{
        padding: 10px 0 !important;
    }

    .bottom-slider-left{
        width: 100%;
    }

    .bottom-slider-right{
        width: 100%;
        height: 60px !important;
    }

    .prodSlideBot{
        margin: 0px;
        padding: 0px !important;
        width: 100%;
    }

    .slick-next > img {
        width: 100% !important;
        margin-top: 190px;
    }

    .bottom{
        margin-top: 0px;
    }

    .bottom-menu{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footer{
        font-size: 12px;
    }

    .tagline{
        display: none;
    }

    .taglineBold{
        font-weight: normal;
        padding-left: 10px;
    }

    .taglineBold:before{
        content: "| ";
        font-weight: normal;
    }

    .hero-prod-box{
        left: 30px !important;
        top: -293px !important;
        height: 270px;
    }

    .hero-prod-image {
    width: 80%;
    height: 100%;
    margin: 0px;
    right: 10px;
    position: absolute;
    }

    .image-change-title {
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

    .hero-image-change {
    width: 320px;
    height: 50px;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    left: 50%;
    top: 80px;
    margin-left: -160px;
    border-radius: 5px;
    }

    .color-box {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    cursor: pointer;
    }

    .hero-product-01{
        height: 60vh !important;
    }
    
    .hero-prod-fakta > h2 {
      font-size: 18px;
    }

/* ---------------------------------------- SLIDER ------------------------------------- */

    
    .slider-all-fakta{
    float: left;
    text-align: left;
    width: 95%;
    margin-left: 5%;
    margin-top: 20px;
    font-family: Verdana;
    overflow: visible;
}

.slick-next {
    right: 10% !important;
}

.slider-width-container{
    width: 100%;
    margin-left: 0%;
}

.slider-image-container{
    width: 100%;
    float: none;
}

.slider-cta-button{
    background-color: white;
    padding: 8px 10px;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.slider-fakta{
    margin-top: 30px;
}

.slider-cta-button{
    background-color: white;
    padding: 8px 10px;
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
}

}

@media screen and (max-width: 900px)  {
    .headline-sub-01-hidden{
        display: block;
        padding: 0px;
    }
    
    
    .fakta-top{
        display:none;
    }
    
    .fakta-bot{
    position: relative;
    margin-top: 10px;
    bottom: 0px;
    }
    
    .slick-next{
        top: 25% !important;
    }
    
    #newSlider-guest-2 > .slick-next {
        top: 300px !important;
    }
    
    .slider-all-fakta{
    float: left;
    text-align: left;
    width: 98%;
    margin-left: 2%;
    margin-top: 20px;
    font-family: Verdana;
    overflow: visible;
}
    
    .slider-all-fakta-1{
    width: 98%;
    margin-left: 2%;
    margin-top: 20px;
    font-family: Verdana;
    overflow: visible;
}
    
    .slider-image-container-1{
    float: left;
}
    
    
}

@media only screen and (orientation: landscape)  { 
    .hero-product-01{
        height: 100vh !important;
    }
}


@media screen and (max-width: 1000px) {

/* ---------------------------------------- SLIDER ------------------------------------- */

.slick-next {
    right: 10% !important;
}

.slider-width-container{
    width: 100%;
    margin-left: 0%;
}
    
.slider-width-container-1{
    width: 100%;
    margin-left: 0%;
    float: left;
}

.hero-product-01{
    height: 57vh !important;
}

}

@media screen and (max-width: 1400px) {

/* ---------------------------------------- SLIDER ------------------------------------- */
.slick-next {
    right: 15% !important;
}

.slider-all-fakta > h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.slider-all-fakta > p {
    font-size: 13px;
    margin-bottom: 0px;
}

.slider-all-fakta > h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.slider-width-container{
    width: 80%;
    margin-left: 10%;
}

.slider-width-container-1{
    width: 80%;
    margin-left: 10%;
}

}

@media screen and (min-width: 2000px) {
    .hero-product-01{
        max-height: 1700px !important;
    }
}

@media screen and (max-width: 360px) {
    
    .home-menu-title{
        margin: -8px !important;
        font-size: 50px !important;
    }
    
    .headline-sub-01{
        padding: 10px 0 !important;
    }

    .bottom-slider-left{
        width: 100%;
    }

    .bottom-slider-right{
        width: 100%;
        height: 60px !important;
    }

    .prodSlideBot{
        margin: 0px;
        padding: 0px !important;
        width: 100%;
    }

    .slick-next > img {
        width: 100% !important;
        margin-top: 190px;
    }

    .bottom{
        margin-top: 0px;
    }

    .bottom-menu{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .footer{
        font-size: 12px;
    }

    .tagline{
        display: none;
    }

    .taglineBold{
        font-weight: normal;
        padding-left: 10px;
    }

    .taglineBold:before{
        content: "| ";
        font-weight: normal;
    }

    .hero-prod-box{
        left: 0px !important;
        top: -200px !important;
        height: 200px;
    }

    .hero-prod-image {
    width: 55%;
    margin: 0px;
    right: 10px;
    top: 10px;
    position: absolute;
    }

    .image-change-title {
    width: 150px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

    .hero-image-change {
    width: 320px;
    height: 50px;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    left: 50%;
    top: 80px;
    margin-left: -160px;
    border-radius: 5px;
    }

    .color-box {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    cursor: pointer;
    }

    .hero-product-01{
        height: 60vh !important;
    }
    
    .hero-prod-fakta > h2 {
      font-size: 18px;
    }

/* ---------------------------------------- SLIDER ------------------------------------- */
    
.fakta-top{
    position: relative;
    width: 200px;
    top: auto;
}

.fakta-bot{
    position: relative;
    margin-top: 60px;
    bottom: 0px;
}
    
    .slider-all-fakta{
    float: left;
    text-align: left;
    width: 95%;
    margin-left: 5%;
    margin-top: 20px;
    font-family: Verdana;
    overflow: visible;
}
    
        .slider-all-fakta-1{
    float: right;
    text-align: left;
    width: 95%;
    margin-left: 5%;
    margin-top: 20px;
    font-family: Verdana;
    overflow: visible;
}
    .slider-image-container{
    width: 100%;
    float: none;
}
        .slider-image-container-1{
    width: 100%;
    float: none;
}

.slick-next {
    right: 10% !important;
}

.slider-width-container{
    width: 100%;
    margin-left: 0%;
}
    
.slider-width-container-1{
    width: 100% !important;
    margin-left: 0%;
}

.slider-cta-button{
    background-color: white;
    padding: 8px 10px;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.slider-fakta{
    margin-top: 30px;
}

.slider-cta-button{
    background-color: white;
    padding: 8px 10px;
    display: block;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
}
/* NOONONONONONONOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
    
    .home-subheadline{
        font-size: 18px !important;
        padding-top: 75px !important;
        margin-bottom: 0px;
    }
    
    .home-menu-title{
        font-size: 40px !important;
        letter-spacing: 10px !important;
    }
    
        .color-wheel-menu{
    margin-top: -100px;
    margin-left: -140px;
    width: 280px;
    }
    
    
.home-instructions{
    width: 280px;
    margin-top: 150px;
    margin-left: -140px;
}

    .press-instruction{
    margin-top: 23px !important;
    margin-left: -18px !important;
    left: 50%;
    top: 50%;
    font-size: 10px !important;
}

    .color-wheel-menu-greyscale{
    margin-top: -100px;
    margin-left: -140px;
    width: 280px;
    }

    .headline-title-01{
        font-size: 25px !important;
    }
    
    .headline-sub-01{
        font-size: 14px;
    }
    
    .fakta-top{
        display:none;
    }
    .fakta-bot{
        margin-top: 10px;
    }
    
    .slick-next{
        top: 100px !important;
    }
    
    #newSlider-guest-2 > .slick-next {
        top: 220px !important;
    }
    
    .headline-sub-01-hidden{
        display: block;
        padding: 0px;
    }
    
    
}
