.stylePageHeader {
    background-color: #534a32;
    border-color: #4a422e;
}

div.stylePageHeader a {
    border-color: #4a422e;
}
.prod-list-link {
    text-decoration: none !important;
}
.prod-text-inBox {
        margin: 0px;
        padding-left: 20px;
        padding-right: 30px;
    }
    p.prod-text-inBox {
        font-size: 13px;
        margin: 0px;
        line-height: 1.2;
        color: black;

    }
    h1.prod-text-inBox {
        font-size: 25px;
        padding-top: 8px;
        color: black;
    }
    h4.prod-text-inBox {
        padding-top: 2px;
        padding-bottom: 3px;
        font-weight: bold;
        color: black;
    }
    .prod-wrapper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -moz-column-gap: 5px;    
    column-gap: 5px;
    min-height: 200px;
    width: 93%;
    max-width: 1060px;
    margin: auto;
    text-align: left;
    color: black;
    padding-top: 30px;
    padding-bottom: 60px;
    }
    .prod-box {
       background-color: white;
        width: 90%;
        margin-right: 4%;
        margin-left: 4%;
        margin-top: 30px;
        padding-bottom: 15px;
        display: grid;
        display: inline-block;
        transition-duration: 1s;
        overflow: hidden;
        border-radius: 15px;
    }
    .prod-image {
        width: 70%;
        margin: auto;
        display: block;
    }
    .prod-proizvodWrap {
        width: 80%;
        margin: auto;
        background-color: #534a32;
    }
    .prod-tag {
        color: #F06428 !important;
        font-weight: bold;
        text-transform: uppercase;
    }
    .prod-button-more{
        background: #695d3c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#695d3c, #534a31); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#695d3c, #534a31); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#695d3c, #534a31); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#695d3c, #534a31); /* Standard syntax */
        color: white;
        border-radius: 4px;
        border: solid 0px;
        font-size: 12px;
        padding: 8px 16px 8px 16px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
    }
    .prod-button-more-blue{
        background: #143a47; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#184d5f, #143a47); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#184d5f, #143a47); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#184d5f, #143a47); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#184d5f, #143a47); /* Standard syntax */
        color: white;
        border-radius: 4px;
        border: solid 0px;
        font-size: 12px;
        padding: 8px 16px 8px 16px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
    }
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .prod-wrapper{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}
@media only screen and (min-width: 550px) and (max-width: 699px) {
    .prod-wrapper{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    }
}
    @media only screen and (min-width: 320px) and (max-width: 549px) {
        .prod-wrapper{
          -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
        }
}
}
